//colors
$primary-color:#ffb700;
$secondary-color:#faf7ed;
$secondary-color2:#faf7edcc;
$link-color:#bc2122;
$link-color2: #f87f18;
$heading-color: #270d0d;
$heading-color-light: #402323;
$text-color: #7d6d6d;
$border-color: #e5dfd6;
//fonts
$primary-font:'Kumbh Sans',
sans-serif;
$secondary-font:'Nunito',
sans-serif;